.rt-uno-contact-header {
    width: 100%;
    padding: 7rem 0 7rem 0;

    .contact-header {
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-header-content {
            position: relative;
            width: 70%;
            text-align: center;
            padding: 2rem;
            border-radius: map-get( $bdr, 2 );
            background-color: lighten($color__background-screen, 4%);
         
            h1 {
                font-size: 38px;
                margin-top: 0;
            }
    
            .contact-intro {
                font-size: 18px;
                font-style: italic;
                margin-bottom: 0;
            }

            .top-header-image {
                position: absolute;
                width: 320px;
                height: 320px;
                top: -160px;
                right: -160px;
                @include background(center, center, contain, no-repeat);
                z-index: -1;
            }

            .bottom-header-image {
                position: absolute;
                width: 320px;
                height: 320px;
                bottom: -160px;
                left: -160px;
                @include background(center, center, contain, no-repeat);
                z-index: -1;
            }
        }
    }
}

/*---------------------------------------------------------
-- Medium (md) Screen Size Media Queries - less than 992px
---------------------------------------------------------*/
@include media-breakpoint-down(md) {
    .rt-uno-contact-header {
        padding: 5rem 0 8rem 0;

        .contact-header  {
            .contact-header-content {
                width: 80%;
            }
        }
    }
}

/*---------------------------------------------------------
-- Small (sm) Screen Size Media Queries - less than 768px
---------------------------------------------------------*/
@include media-breakpoint-down(sm) {
    .rt-uno-contact-header {
        padding: 4rem 0 7rem 0;

        .contact-header  {
            .contact-header-content {
                width: 85%;
            }
        }
    }
}

/*---------------------------------------------------------
-- Extra Small (xs) Screen Size Media Queries - less than 576px
---------------------------------------------------------*/
@include media-breakpoint-down(xs) {
    .rt-uno-contact-header {
        .contact-header  {
            .contact-header-content {
                width: 90%;
            }
        }
    }
}