.site-footer {
    position: relative;
    background-color: $black;
    color: $white;


    a {
        color: $white;
    }

    .legals-menu {
        position: relative;
        margin-top: -16px;
        text-align: center;
        z-index: 2;

        a {
            display: inline-block;
            padding: .375rem .75rem;
            margin-right: 12px;
            border-radius: map-get( $bdr, 2 );
            background-color: $white;
            color: $black;
            font-size: 13px;
            transition: map-get( $trans, 150 );

            &:hover {
                text-decoration: none;
                background-color: darken($white, 5%);
            }
        }
    }

    .adres {
        padding: 2rem 1rem .5rem 1rem;
        font-size: 13px;

        h3 {
            font-size: 22px;
        }

        .adres-inner {
            width: 200px;
            text-align: center;
            margin: 0 auto;
        }
    }

    .openings {
        padding: .5rem 1rem .5rem 1rem;
        font-size: 13px;

        h3 {
            font-size: 22px;
            text-align: center;
        }

        .openings-inner {
            width: 200px;
            margin: 0 auto;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    span {
                        width: 50%;

                        &:first-of-type {
                            text-align: left;
                            float: left;
                        }

                        &:last-of-type {
                            text-align: right;
                            float: right;
                        }
                    }
                }
            }
        }
    }

    .site-info {
        padding: .5rem 1rem 2rem 1rem;
        font-size: 13px;

        > div {
            &:first-of-type {
                width: 65%;
                float: left;
            }

            &:last-of-type {
                width: 35%;
                float: right;
                text-align: right;
            }
        }
    }
}



/*---------------------------------------------------------
-- Extra Small (xs) Screen Size Media Queries - less than 576px
---------------------------------------------------------*/
@include media-breakpoint-down(xs) {
    .site-footer {
        .site-info {
            > div {
                text-align: center;
                
                &:first-of-type {
                    width: 100%;
                    float: none;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
                &:last-of-type {
                    width: 100%;
                    float: none;
                    text-align: center;
                }
            }
        }
    }
}