.site-footer {
    position: relative;
    background-color: $black;
    color: $white;


    a {
        color: $white;
    }

    .legals-menu {
        position: relative;
        margin-top: -16px;
        z-index: 2;

        a {
            display: inline-block;
            padding: .375rem .75rem;
            margin-right: 12px;
            border-radius: map-get( $bdr, 2 );
            background-color: $white;
            color: $black;
            font-size: 13px;
            transition: map-get( $trans, 150 );

            &:hover {
                text-decoration: none;
                background-color: darken($white, 5%);
            }
        }
    }

    .openings {
        padding: 2rem 1rem .5rem 1rem;
        font-size: 13px;
    }

    .site-info {
        padding: .5rem 1rem 2rem 1rem;
        font-size: 13px;

        > div {
            &:first-of-type {
                width: 65%;
                float: left;
            }

            &:last-of-type {
                width: 35%;
                float: right;
                text-align: right;
            }
        }
    }
}



/*---------------------------------------------------------
-- Extra Small (xs) Screen Size Media Queries - less than 576px
---------------------------------------------------------*/
@include media-breakpoint-down(xs) {
    .site-footer {
        .site-info {
            > div {
                &:first-of-type {
                    width: 100%;
                    float: none;
                    margin-bottom: 1rem;
                }
                &:last-of-type {
                    width: 100%;
                    float: none;
                    text-align: left;
                }
            }
        }
    }
}