.sticky {
	display: block;
}

.post,
.page {
	margin: 0
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

a.button {
	@include button($main-color, $fz, .375rem, 1.5rem, map-get($trans, 150), map-get($bdr, 3));
}
