.rt-uno-catering {
    position: relative;
    width: 100%;
    padding: 7rem 0 14rem 0;
    background-color: #000;
    @include background(center, center, cover, no-repeat);
    background-attachment: fixed;
    overflow: hidden;
    z-index: 1;

    .top-curve {
        height: 30px;
        width: 100%;
        position: absolute;
        top: -1px;

        svg {
            display: block;
            height: 30px;
            width: 100%;
            path {
                display: block;
                height: 30px;
                width: 100%;
                fill: $color__background-screen;
            }
        }
    }

    .catering-content {
        width: 50%;
        margin: 0 auto;
        color: $white;
        text-align: center;

        a.button {
            //@include button($main-color, $fz, .375rem, 1.5rem, map-get($trans, 150), map-get($bdr, 3));
            background-color: $main-color;
            color: $white;

            &:hover {
                background-color: darken($main-color, 7%);
            }

            &::after {
                display: inline-block;
                position: relative;
                content: '';
                width: 18px;
                height: 18px;
                margin-left: 1.5rem;
                bottom: -4px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                background-image: url(../../images/catering_btn_icon.svg);
            }
        }
    }

    .bottom-image {
        position: absolute;
        bottom: -350px;
        left: 0;
        width: 100%;
        height: 371px;
        @include background(left, bottom, auto, repeat-x);
        z-index: 1;
    }

    .bottom-curve {
        height: 30px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        z-index: 2;

        svg {
            display: block;
            height: 30px;
            width: 100%;
        }
            
        .bottom-path {
            display: block;
            height: 30px;
            width: 100%;
            fill: $main-color !important;
        }
    }
}

/*---------------------------------------------------------
-- Medium (md) Screen Size Media Queries - less than 992px
---------------------------------------------------------*/
@include media-breakpoint-down(md) {
    .rt-uno-catering {
        .catering-content {
            width: 70%;
        }
    }
}

/*---------------------------------------------------------
-- Small (sm) Screen Size Media Queries - less than 768px
---------------------------------------------------------*/
@include media-breakpoint-down(sm) {
    .rt-uno-catering {
        .catering-content {
            width: 85%;
        }
    }
}

/*---------------------------------------------------------
-- Extra Small (xs) Screen Size Media Queries - less than 576px
---------------------------------------------------------*/
@include media-breakpoint-down(xs) {
    
    .rt-uno-catering {
        .catering-content {
            width: 95%;
        }
    }
}