.rt-uno-delivery {
    width: 100%;
    padding: 7rem 0;
    z-index: 2;
    background-color: $color__background-screen;

    .delivery-content {
        position: relative;
        width: 50%;
        margin: 0 auto;
        padding: 2rem;
        border-radius: map-get( $bdr, 3 );
        background: $white;
        text-align: center;
        z-index: 2;

        // &::after, &::before {
        //     display: inline-block;
        //     content: '';
        //     border-radius: map-get($bdr, 3);
        // }

        // &::after {
        //     @include gradient-y($color__border-input, darken($color__border-input, 5%), 15%, 100%);
        //     @include absolute(-3rem, -3rem, -3rem, -3rem);
        //     box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
        //     z-index: -2;
        // }

        // &::before {
        //     @include absolute(0,0,0,0);
        //     background-color: $white;
        //     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        //     z-index: -1;
        // }

        h2 {
            font-family: $font__title;
        }

        a {
            display: inline-block;
            position: relative;

            &::after {
                display: inline-block;
                position: relative;
                content: '';
                width: 16px;
                height: 16px;
                margin-left: 16px;
                bottom: -2px;
                background-image: url(../../images/menu.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
        }

        .content-image {
            width: 420px;
            height: 360px;
            @include background(center, center, contain, no-repeat);
            position: absolute;

            &#image_1 {
                top: auto;
                right: auto;
                left: -100%;
                bottom: 0;
            }

            &#image_2 {
                top: 0;
                right: -100%;
                left: auto;
                bottom: auto;
            }
        }
    }
}