.rt-uno-diensten-header {
    width: 100%;

    .diensten-header {
        height:500px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .diensten-header-content {
            width: 60%;
            float: left;
            
            h1 {
                font-size: 38px;
            }
    
            p {
                font-size: 18px;
                font-style: italic;
            }
        }
    
        .diensten-header-image {
            width: 40%;
            height: 100%;
            float: right;
            @include background(center, center, contain, no-repeat);
        }
    }    
}


/*---------------------------------------------------------
-- Medium (md) Screen Size Media Queries - less than 992px
---------------------------------------------------------*/
@include media-breakpoint-down(md) {
    .rt-uno-diensten-header {
        position: relative;

        .diensten-header {
            display: block;

            .diensten-header-content {
                width: 80%;
                float: none;
                margin: 0 auto;
            }

            .diensten-header-image {
                position: absolute;
                width: 260px;
                height: 260px;
                float: none;
                z-index: 100;
                left: calc(50% - 130px);
            }
        }
    }
}