a {
	color: $main-color;

	&:visited {
		color: $main-color;
	}
	&:hover,
	&:focus,
	&:active {
		color: darken($main-color, 7%);
	}
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
